body {
  margin: 0;
  background-color: #f5f5f5;
}

main {
  min-height: 100vh;
}

.movie-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
